<?xml version='1.0' encoding='utf-8'?>
<widget id="com.carmel6000.keyboard" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>הקלדה</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />  
        <icon src="assets/art-and-design.png" density="mdpi" />
        <icon src="assets/art-and-design.png" density="ldpi" />
        <icon src="assets/art-and-design.png" density="hdpi" />
        <icon src="assets/art-and-design.png" density="xhdpi" />
        <icon src="assets/art-and-design.png" density="xxhdpi" />
    <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- <icon src="./assets/art-and-design.png" /> -->
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="./assets/Icon-180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="./assets/Icon-60.png" width="60" height="60" />
        <icon src="./assets/Icon-120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="./assets/Icon-76.png" width="76" height="76" />
        <icon src="./assets/Icon-152.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="./assets/Icon-40.png" width="40" height="40" />
        <icon src="./assets/Icon-80.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="./assets/Icon-57.png" width="57" height="57" />
        <icon src="./assets/Icon-114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="./assets/Icon-72.png" width="72" height="72" />
        <icon src="./assets/Icon-144.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="./assets/Icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="./assets/Icon-29.png" width="29" height="29" />
        <icon src="./assets/Icon-58.png" width="58" height="58" />
        <icon src="./assets/Icon-87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="./assets/Icon-50.png" width="50" height="50" />
        <icon src="./assets/Icon-100.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="./assets/Icon-167.png" width="167" height="167" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="/assets/Icon-256.png" width="320" height="480"/>
        <splash src="/assets/Icon-512.png" width="1024" height="768"/>
        <splash src="/assets/Icon-512.png" width="640" height="960"/>
        <splash src="/assets/Icon-1024.png" width="768" height="1024"/>
        <splash src="/assets/Icon-1024.png" width="2208" height="1242"/>
        <splash src="/assets/Icon-1024.png" width="2048" height="1536"/>
        <splash src="/assets/Icon-1024.png" width="640" height="1136"/>
        <splash src="/assets/Icon-1024.png" width="750" height="1334"/>
        <splash src="/assets/Icon-1024.png" width="1536" height="2048"/>
        <splash src="/assets/Icon-1024.png" width="1242" height="2208"/>
    </platform>
</widget>
